:root {
    --white: #fff;

    --primary: #535a3b;
    --primary-hover: #3c4229;

    --yellow: #da9817;
    --green: #006666;
    --red: #e42739;
    --purple: #a4508b;
    --dark-gray: #212529;
    --second-text: #2b2f32;
    --grey: #86909c;

    --light-gray: #f5f5f5;
    --text-gray: #848789cc;
    --ultra-light-gray: #f7f8f9;
    --label: #ced4da;
    --border: rgba(0, 0, 0, 0.12);
    --table-primary: rgba(218, 255, 213, 0.2);
    --table-primary-hover: rgba(218, 255, 213, 1);
    --table-danger: rgba(250, 107, 132, 0.2);
    --table-danger-hover: rgba(250, 107, 132, 0.4);

    --popup-shadow: 0 2px 8px rgba(0, 0, 0, 0.31), 0 1px 2px rgba(0, 0, 0, 0.37);

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

body {
    background-color: var(--light-gray);
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

html {
    overflow-x: hidden;
    /* Minimalno 14px, fluidno između, maksimalno 18px */
    font-size: clamp(14px, 0.9vw + 8px, 18px);
}

.main-container {
    background-color: #f9f8f8;
    padding: 30px 25px !important;
}

.page-header {
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0 1px 20px #2720781a;
    margin-bottom: 10px;
}

.logo {
    width: 100%;
    margin-bottom: 25px;
}

.logo-pocetna {
    height: 100px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px 20px #2e235e12;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.form-group {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
}

a.button-primary,
.button-primary,
[type="submit"] {
    border: 1px solid;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 14px;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: var(--white) !important;
    border-radius: 6px;
}

a.button-primary:hover,
.button-primary:hover {
    border: 1px solid;
    background-color: var(--primary-hover) !important;
    border-color: var(--primary-hover) !important;
    color: var(--white) !important;
    text-decoration: none;
}

a.button-primary:focus,
.button-primary:focus {
    border: 1px solid;
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
    color: var(--white) !important;
    box-shadow: 0 0 0 0.2rem rgba(30, 144, 177, 0.25);
    transform: translateY(0);
    text-decoration: none;
}

.button-tertiary {
    padding: 8px 10px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.5s;
    color: var(--primary) !important;
    background: transparent !important;
    border: none;
}

.button-tertiary:hover {
    color: var(--primary-hover) !important;
    text-decoration: underline;
}

.button-tertiary:focus {
    color: #1e90b1 !important;
    outline: none;
    text-decoration: none;
}

.button-secondary {
    border: 1px solid var(--primary);
    padding: 8px 10px;
    cursor: pointer;
    font-size: 12px;
    background-color: var(--white) !important;
    border-color: var(--primary) !important;
    color: var(--primary) !important;
    border-radius: 0.375rem;
}

.button-secondary:hover {
    border: 1px solid var(--primary);
    background-color: var(--white) !important;
    border-color: var(--primary) !important;
    color: var(--primary) !important;
    border-radius: 0.375rem;
}

.button-secondary:focus {
    border: 1px solid var(--primary);
    background-color: var(--white) !important;
    border-color: var(--primary) !important;
    color: var(--primary) !important;
    border-radius: 0.375rem;
}

.button-attachment {
    font-size: 11px;
    color: var(--text-gray) !important;
}

.button-attachment svg {
    stroke: none !important;
    fill: none !important;
    width: 20px;
    height: 20px;
}

.button-icon {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: var(--text-gray) !important;
}

.button-icon:hover {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: var(--primary) !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    border: 1px solid;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 12px;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: var(--white) !important;
    border-radius: 0.375rem;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel) {
    padding: 8px 10px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.5s;
    color: var(--primary) !important;
    background: transparent !important;
    border: none;
}


.auth-container {
    position: relative;
    background-image: url('/images/plane-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
}

.login-card {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    width: 100%;
}

.breadcrumb-item a {
    color: var(--primary) !important;
    text-decoration: none;
}

.text-muted {
    font-size: 14px;
}

h4 {
    font-size: 16px !important;
}

h6 {
    font-size: 14px !important;
    color: var(--white) !important;
}

.card-header {
    background-color: var(--primary) !important;
}

.card-header h4 {
    color: var(--white) !important;
    margin: 0;
}