/* ===== Variables ===== */
:root {
    --white: #fff;

    --primary: #535a3b;
    --primary-hover: #3c4229;

    --yellow: #da9817;
    --green: #006666;
    --red: #e42739;
    --purple: #a4508b;
    --dark-gray: #212529;
    --second-text: #2b2f32;
    --grey: #86909c;

    --light-gray: #f5f5f5;
    --background-gray: #d3d3d3;
    --text-gray: #848789cc;
    --ultra-light-gray: #f7f8f9;
    --label: #ced4da;
    --border: rgba(0, 0, 0, 0.12);
    --table-primary: rgba(218, 255, 213, 0.2);
    --table-primary-hover: rgba(218, 255, 213, 1);
    --table-danger: rgba(250, 107, 132, 0.2);
    --table-danger-hover: rgba(250, 107, 132, 0.4);

    --popup-shadow: 0 2px 8px rgba(0, 0, 0, 0.31), 0 1px 2px rgba(0, 0, 0, 0.37);

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}


/* ===== Base ===== */
html {
    overflow-x: hidden;
    /* Minimalno 14px, fluidno između, maksimalno 18px */
    font-size: clamp(14px, 0.9vw + 8px, 18px);
}

body {
    background-color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.bg-lightgrey {
    background-color: var(--background-gray);
}